<div class="wrapper">
  <div class="logo">
    <img src="{{ recipe.imgUrl }}" alt="" />
  </div>
  <div class="text-center mt-4 name">{{ recipe.name }}</div>
  <p>
    {{ recipe.description }}
  </p>
  <button class="btn" (click)="openLg(content)">See More</button>
</div>

<!-- MODAL -->
<ng-template #content let-modal>
  <div class="modal-header pe-3">
    <div class="text-center m-4 name">
      <span>{{ recipe.name }}</span>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-modal">
      <div class="logo my-4 mx-auto">
        <img src="{{ recipe.imgUrl }}" alt="" />
      </div>
      <div class="p-3">
        <h5 class="fw-bold">Ingredients</h5>
        <p>{{ recipe.ingredients }}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
