<div class="wrapper">
  <div class="logo">
    <img src="assets/img/logo.png" alt="" />
  </div>
  <div class="text-center mt-4 name">Login</div>
  <form (ngSubmit)="loginUser()" class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <input type="email" name="email" id="email" placeholder="Email" />
    </div>
    <div class="form-field d-flex align-items-center">
      <input type="password" name="password" id="pwd" placeholder="Password" />
    </div>
    <button class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
    <a routerLink="/forgot-password">Forget password?</a> or
    <a routerLink="/signup">Sign up</a>
  </div>
</div>
