<div class="container" *ngIf="recipe">
  <div class="row">
    <div class="col-sm ">
      <div>
        <img class="recipe-img" src="{{ recipe.image }}" alt="" />
      </div>
    </div>
    <div class="col-sm text-center mt-5">
      <div class="row">
        <h1 class="name">{{ recipe.title }}</h1>
      </div>
      <div class="row mt-4">
        <div class="col-sm">
          <div class="row">
            <fa-icon [icon]="faClock"></fa-icon>
          </div>
          <div class="row">
            <p>{{ recipe.readyInMinutes }}min</p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <fa-icon [icon]="faUtensils"></fa-icon>
          </div>
          <div class="row">
            <p>{{ recipe.servings }} Servings</p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <fa-icon [icon]="faPlate"></fa-icon>
          </div>
          <div class="row">
            <p>{{ recipe.diet }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div
            *ngIf="this.authService.isLoggedIn && lists.length > 0"
            ngbDropdown
            class="d-inline-block"
          >
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Add to list
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                *ngFor="let list of lists"
                (click)="
                  addRecipe(list.id, recipeId, recipe.title, recipe.image)
                "
                ngbDropdownItem
              >
                {{ list.title }}
              </button>
            </div>
          </div>
          <div
            *ngIf="this.authService.isLoggedIn && lists.length == 0 || lists.length == null"
            ngbDropdown
            class="d-inline-block"
          >
            <a
              routerLink="/user-dashboard"
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              
            >
              Create New List
        </a>
          </div>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center mt-4">
      <h2 class="name">Instructions</h2>
      <p>{{ recipe.instructions }}</p>
    </div>
  </div>
</div>
