<div class="wrapper">
  <div class="logo">
    <img src="assets/img/logo.png" alt="" />
  </div>
  <div class="text-center mt-4 name">Sign Up</div>
  <form class="p-3 mt-3" [formGroup]="signupForm" (ngSubmit)="registerUser()">
    <div class="form-field d-flex align-items-center">
      <input
        type="text"
        formControlName="name"
        placeholder="Enter name"
        required
      />
    </div>
    <div class="form-field d-flex align-items-center">
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-field d-flex align-items-center">
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        required
      />
    </div>
    <div class="form-field d-flex align-items-center">
      <input
        type="password"
        class="form-control"
        formControlName="password_confirmation"
        placeholder="Confirm password"
        required
      />
    </div>
    <button type="submit" class="btn mt-3">Sign Up</button>
  </form>
  <div class="text-center fs-6">
    or
    <a routerLink="/login">Login</a>
  </div>
</div>
