<div class="container-sm mx-auto">
  <div class="text-center my-5 name">
    <h1>Dashboard</h1>
  </div>
  <div class="row">
    <div class="col text-center">
      <p><strong>Name:</strong> {{ userName }}</p>
      <p><strong>Email:</strong> {{ userEmail }}</p>
      <div class="mt-3 text-center">
        <a (click)="logout()" routerLink="/login">Logout</a>
      </div>
    </div>
    <div class="col text-center">
      <h2 class="name">Your Lists</h2>
      <form [formGroup]="form" (submit)="createList()">
        <div class="form-group">
          <input formControlName="title"  placeholder="Enter list name" required />
        </div>
        <button class="btn mt-3">Create List</button>
      </form>
      <div
        class="d-flex justify-content-center align-items-center mt-4"
        *ngFor="let list of lists"
      >
        <div>
          <a *ngIf="list.title" class="mx-5" (click)="onListClicked(list.id)" >{{ list.title }}</a>
        </div>
        <button (click)="deleteList(list.id)" class="btn-red">Delete</button>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div *ngIf="listClicked" class="col text-center">
      <h2 class="name mb-3">Recipes in this list</h2>
      <div *ngFor="let recipe of recipes"  class="mb-4">
        <a class="mx-5" href="">{{ recipe.name }}</a>
        <button (click)="deleteRecipe(recipe.id)" class="btn-red">Delete</button>
      </div>
    </div>
  </div>
</div>
